body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1527609021742-5d461b38e32e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=497e1a0bf3827249c34bc63bb0e9d474&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    background-repeat: repeat;
}

h1 {
    text-align: left;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

h4 {
    font-size: 20px;
}

span {
    color: rgb(76, 172, 245);
}

.wrap {
    /* height: auto; */
    width: 700px;
    min-height: 800px;
    /* height: 755px; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(63, 62, 62);
    text-align: center;
    margin-top: 35px;
}

.container {
    display: grid;
    justify-content: space-evenly;
    height: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 52px 55px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

.container>div {
    background-color: rgba(43, 43, 43, 0.6);
    text-align: center;
    padding: 15px 0;
}

img {
    padding: 3px;
    padding-bottom: 26px;
    height: 46px;
}


#header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 50px 100px;
    padding: 10px;
}
.category, .newpiece, #submitclothing, #submitfootwear, #submitperson, #submitdocument, #submitgadget, #submitmisc {
    display: none;
}
#home {
   background-color: rgb(63, 62, 62);
   color: white;
   border: none;
   font-size: 30px;
}

#showtrips {
    background-color: rgb(63, 62, 62);
    color: white;
    border: none;
    font-size: 30px;
}
#showtrips:focus, #home:focus  {outline:0;}


.pieces, .fa-trash-alt  {
    display: none;
}

.show {
    display: inline;
}

.showgrid {
    display: grid;
}

.hide {
    display: none
}

.homepage {
    min-height: 800px;
}

#savedtrips {
  text-align: left;
  color: white;
  padding: 20px;
}

#tripheader {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    
}
#tripname {
    margin: 10px;
    background-color: rgba(43, 43, 43, 0.6);
    padding: 25px;
    font-size: 25px;
}

.category {
    padding: 5px;
    font-size: 20px;
   
}
.pieces {
    background-color: rgb(63, 62, 62);
    font-size: 15px;
    padding: 10px;
}
.onepiece {
    padding: 5px;

}
.newpiece {
    margin-top: 5px;
}
.inpiece {
    background-color: rgb(63, 62, 62);
    border: 1px solid rgba(43, 43, 43, 0.6);
    color: white;
}
.fa-trash-alt {
    font-size: 15px;
    position: absolute;
    right: 400px;
    color: lightgray;
}

#tripname:hover #deltrip, .onepiece:hover .delpiece {
    display: inline;
}